p::first-letter {
    font-size: 1.2em;
    color: #757575;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 4em;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 0;
    color: #757575;
}