<!DOCTYPE html>
<html lang="zh">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>虾华电影</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="static/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="static/css/search.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body style="background-color:#fafafa">
    <div class="row" style="margin-top:3em">
        <div class="col s6 offset-s2">
            <h4 class="header">饥饿游戏3：嘲笑鸟(下)</h4>
            <div class="card horizontal small">
                <div class="card-image">
                    <img src="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2282434035.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>导演：弗朗西斯·劳伦斯</p>
                        <p>编剧：丹尼·斯特朗/彼得·克莱格</p>
                        <p>主演：詹妮弗·劳伦斯/乔什·哈切森/利亚姆·海姆斯沃斯/伍迪·哈里森/伊丽莎白·班克斯/朱丽安·摩尔/菲利普·塞默·霍夫曼/杰弗里·怀特/斯坦利·图齐/唐纳德·萨瑟兰/托比·琼斯/山姆·克拉弗林/吉娜·马隆/娜塔莉·多默尔/伊万·罗斯</p>
                        <p>类型：动作/科幻/冒险</p>
                        <p>制片国家/地区：美国</p>
                        <p>时长：136分钟</p>
                        <p>评分：59</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:4em">
        <div class="col s10 offset-s1">
            <div class="row">
                <div style="margin-left: 10em">
                    <h5>相似电影</h5>
                </div>
                <div class="col s2 offset-s1">
                    <div class="card small">
                        <div class="card-image">
                            <img src="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2282434035.jpg">
                        </div>
                        <div class="card-content" style="height: 1em;">
                            <p>科幻/动画</p>
                        </div>
                        <div class="card-action">
                            <a href="#">饥饿游戏3：嘲笑鸟(下)</a>
                        </div>
                    </div>
                </div>
                <div class="col s2">
                    <div class="card small">
                        <div class="card-image">
                            <img src="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p1666780812.jpg">
                        </div>
                        <div class="card-content">
                            <p>科幻/动画</p>
                        </div>
                        <div class="card-action">
                            <a href="#">壳中少女：排气</a>
                        </div>
                    </div>
                </div>
                <div class="col s2">
                    <div class="card small">
                        <div class="card-image">
                            <img src="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p1744650844.jpg">
                        </div>
                        <div class="card-content">
                            <p>剧情/爱情/动画</p>
                        </div>
                        <div class="card-action">
                            <a href="#">图书馆战争：革命之翼</a>
                        </div>
                    </div>
                </div>
                <div class="col s2">
                    <div class="card small">
                        <div class="card-image">
                            <img src="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p1903380040.jpg">
                        </div>
                        <div class="card-content">
                            <p>剧情</p>
                        </div>
                        <div class="card-action">
                            <a href="#">浮城谜事</a>
                        </div>
                    </div>
                </div>
                <div class="col s2">
                    <div class="card small">
                        <div class="card-image">
                            <img src="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p1722545381.jpg">
                        </div>
                        <div class="card-content">
                            <p>动作/奇幻/冒险</p>
                        </div>
                        <div class="card-action">
                            <a href="#">最后的巫师猎人</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="static/js/materialize.min.js"></script>
</body>

</html>
