<!DOCTYPE html>
<html lang="zh">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>虾滑电影</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/static/login.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body style="background-color:#fafafa">
    <div class="row" style="margin-top:130px">
        <div class="col s4 offset-s4 white">
            <p>LOG IN</p>
            <div class="row">
                <form class="col s8 offset-s2">
                    <div class="input-field ">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="Username-log" type="text" class="validate">
                        <label for="Username-log">用户名</label>
                    </div>
                    <div class="input-field ">
                        <i class="material-icons prefix">vpn_key</i>
                        <input id="password-log" type="password" class="validate">
                        <label for="password-log">密码</label>
                    </div>
                  <button class="btn waves-effect waves-light col s4 offset-s3" style="width:180px" onclick="get_id()">登录</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/static/materialize.min.js"></script>
    <script src="/static/login.js"></script>
</body>

</html>