<!DOCTYPE html>
<html lang="zh">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>虾华电影</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/static/search.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body style="background-color:#fafafa">
    <div class="row" style="margin-top:6em">
        <div class="col s6 offset-s3">
            <div class="search">
                <div class="search-wrapper card">
                    <input id="search">
                    <i class="material-icons" id="search_start">search</i>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col s1 offset-s1">
            <div class="collection">
                <a id= 'search' onclick="search_movie(this)" class="collection-item">动作</a>
                <a id= 'search' onclick="search_movie(this)" class="collection-item">科幻</a>
                <a id= 'search' onclick="search_movie(this)" class="collection-item">喜剧</a>
                <a id= 'search' onclick="search_movie(this)" class="collection-item">冒险</a>
                <a id= 'search' onclick="search_movie(this)" class="collection-item">动画</a>
                <a id= 'search' onclick="search_movie(this)" class="collection-item">剧情</a>
                <a id= 'search' onclick="search_movie(this)" class="collection-item">爱情</a>
                <a id= 'search' onclick="search_movie(this)" class="collection-item">犯罪</a>
                <a id= 'search' onclick="search_movie(this)" class="collection-item">战争</a>
                <a id= 'search' onclick="search_movie(this)" class="collection-item">悬疑</a>
                <a id= 'search' onclick="search_movie(this)" class="collection-item">玄幻</a>
                <a id= 'search' onclick="search_movie(this)" class="collection-item">传记</a>
                <a id= 'search' onclick="search_movie(this)" class="collection-item">同性</a>
                <a id= 'search' onclick="search_movie(this)" class="collection-item">家庭</a>
                <a id= 'search' onclick="search_movie(this)" class="collection-item">惊悚</a>
                <a id= 'search' onclick="search_movie(this)" class="collection-item">西部</a>
            </div>
        </div>
        <div class="col s7" style="margin-left: 5em">
            <div class="row">
                <div class="col s4">
                    <div class="card small">
                        <div class="card-image">
                            <img id="src0" src={{ src0 }}>
                        </div>
                        <div class="card-content" style="height: 1em;">
                            <p id="type0">{{ type0 }}</p>
                        </div>
                        <div class="card-action">
                            <a id="name0" href="#">{{ name0 }}</a>
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="card small">
                        <div class="card-image">
                            <img id="src1" src={{ src1 }}>
                        </div>
                        <div class="card-content">
                            <p id="type1">{{ type1 }}</p>
                        </div>
                        <div class="card-action">
                            <a id="name1" href="#">{{ name1 }}</a>
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="card small">
                        <div class="card-image">
                            <img id="src2" src={{ src2 }}>
                        </div>
                        <div class="card-content">
                            <p id="type2">{{ type2 }}</p>
                        </div>
                        <div class="card-action">
                            <a id="name2" href="#">{{ name2 }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <div class="card small">
                        <div class="card-image">
                            <img  id="src3" src={{ src3 }}>
                        </div>
                        <div class="card-content">
                            <p id="type3">{{ type3 }}</p>
                        </div>
                        <div class="card-action">
                            <a id="name3" href="#">{{ name3 }}</a>
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="card small">
                        <div class="card-image">
                            <img id="src4" src={{ src4 }}>
                        </div>
                        <div class="card-content">
                            <p id="type4">{{ type4 }}</p>
                        </div>
                        <div class="card-action">
                            <a id="name4" href="#">{{ name4 }}</a>
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="card small">
                        <div class="card-image">
                            <img id="src5" src={{ src5 }}>
                        </div>
                        <div class="card-content">
                            <p id="type5">{{ type5 }}</p>
                        </div>
                        <div class="card-action">
                            <a id="name5" href="#">{{ name5 }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s2">
            <ul class="collection with-header">
                <li class="collection-header">
                    <h4>推荐电影</h4>
                </li>
                <li class="collection-item">
                    <div>摩纳哥王妃
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">send</i>
                        </a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>维克多·弗兰肯斯坦
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">send</i>
                        </a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>X战警：逆转未来
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">send</i>
                        </a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>北京遇上西雅图
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">send</i>
                        </a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>人再囧途之泰囧
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">send</i>
                        </a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>布拉姆的异想世界
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">send</i>
                        </a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>碟中谍5：神秘国度
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">send</i>
                        </a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>花开伊吕波剧场版：甜蜜的家
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">send</i>
                        </a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>亡国的阿基德第4章：憎恨记忆
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">send</i>
                        </a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>爱在午夜降临前
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">send</i>
                        </a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>海底总动员2：多莉去哪儿
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">send</i>
                        </a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>弗兰西丝·哈
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">send</i>
                        </a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>霍比特人2：史矛革之战
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">send</i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/static/materialize.min.js"></script>
    <script src="/static/movie.js"></script>
</body>

</html>