<!DOCTYPE html>
<html lang="zh">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>虾华电影</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/search.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body style="background-color:#fafafa">
    <div class="row" style="margin-top:6em">
        <div class="col s6 offset-s3">
            <div class="search">
                <div class="search-wrapper card">
                    <input id="search">
                    <i class="material-icons" id="search_start">search</i>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col s1 offset-s1">
            <div class="collection">
                <a href="#!" class="collection-item">动作</a>
                <a href="#!" class="collection-item">科幻</a>
                <a href="#!" class="collection-item">喜剧</a>
                <a href="#!" class="collection-item">冒险</a>
                <a href="#!" class="collection-item">动画</a>
                <a href="#!" class="collection-item">剧情</a>
                <a href="#!" class="collection-item">爱情</a>
                <a href="#!" class="collection-item">犯罪</a>
                <a href="#!" class="collection-item">战争</a>
                <a href="#!" class="collection-item">悬疑</a>
                <a href="#!" class="collection-item">玄幻</a>
                <a href="#!" class="collection-item">传记</a>
                <a href="#!" class="collection-item">同性</a>
                <a href="#!" class="collection-item">家庭</a>
                <a href="#!" class="collection-item">惊悚</a>
                <a href="#!" class="collection-item">西部</a>
            </div>
        </div>
        <div class="col s7" style="margin-left: 5em">
            <div class="row">
                <div class="col s4">
                    <div class="card small">
                        <div class="card-image">
                            <img src="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2282434035.jpg">
                        </div>
                        <div class="card-content" style="height: 1em;">
                            <p>科幻/动画</p>
                        </div>
                        <div class="card-action">
                            <a href="#">饥饿游戏3：嘲笑鸟(下)</a>
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="card small">
                        <div class="card-image">
                            <img src="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p1666780812.jpg">
                        </div>
                        <div class="card-content">
                            <p>科幻/动画</p>
                        </div>
                        <div class="card-action">
                            <a href="#">壳中少女：排气</a>
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="card small">
                        <div class="card-image">
                            <img src="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p1744650844.jpg">
                        </div>
                        <div class="card-content">
                            <p>剧情/爱情/动画</p>
                        </div>
                        <div class="card-action">
                            <a href="#">图书馆战争：革命之翼</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <div class="card small">
                        <div class="card-image">
                            <img src="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p1903380040.jpg">
                        </div>
                        <div class="card-content">
                            <p>剧情</p>
                        </div>
                        <div class="card-action">
                            <a href="#">浮城谜事</a>
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="card small">
                        <div class="card-image">
                            <img src="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p1722545381.jpg">
                        </div>
                        <div class="card-content">
                            <p>动作/奇幻/冒险</p>
                        </div>
                        <div class="card-action">
                            <a href="#">最后的巫师猎人</a>
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="card small">
                        <div class="card-image">
                            <img src="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2246217861.jpg">
                        </div>
                        <div class="card-content">
                            <p>动作/科幻/冒险</p>
                        </div>
                        <div class="card-action">
                            <a href="#">侏罗纪世界</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s2">
            <ul class="collection with-header">
                <li class="collection-header">
                    <h4>推荐电影</h4>
                </li>
                <li class="collection-item">
                    <div>摩纳哥王妃
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">send</i>
                        </a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>维克多·弗兰肯斯坦
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">send</i>
                        </a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>X战警：逆转未来
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">send</i>
                        </a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>北京遇上西雅图
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">send</i>
                        </a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>人再囧途之泰囧
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">send</i>
                        </a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>布拉姆的异想世界
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">send</i>
                        </a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>碟中谍5：神秘国度
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">send</i>
                        </a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>花开伊吕波剧场版：甜蜜的家
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">send</i>
                        </a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>亡国的阿基德第4章：憎恨记忆
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">send</i>
                        </a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>爱在午夜降临前
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">send</i>
                        </a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>海底总动员2：多莉去哪儿
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">send</i>
                        </a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>弗兰西丝·哈
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">send</i>
                        </a>
                    </div>
                </li>
                <li class="collection-item">
                    <div>霍比特人2：史矛革之战
                        <a href="#!" class="secondary-content">
                            <i class="material-icons">send</i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.min.js"></script>
</body>

</html>